{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div >
    <div >
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <center>
                            <i class="fa fa-check-circle-o icons-home" aria-hidden="true"></i>
                            <h3>Misión</h3>
                        </center>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae dolorem deserunt corporis ab unde voluptatum quasi beatae possimus, iure, ullam fugiat illum commodi aperiam amet, molestiae veritatis aliquam! Fugiat, itaque!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <center>
                            <i class="fa fa-eye icons-home" aria-hidden="true"></i>
                            <h3>Visión</h3>
                        </center>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam at id ex mollitia nihil vel reiciendis impedit dignissimos molestiae sed facere reprehenderit maiores enim quia, quibusdam, doloribus consequatur explicabo saepe?
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <center>
                            <i class="fa fa-bullseye icons-home" aria-hidden="true"></i>
                            <h3>Objetivos</h3>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis repellendus commodi ea quas error aperiam dolores, eligendi distinctio mollitia illo atque in sapiente fuga harum, nihil, obcaecati veniam eaque. Inventore.
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="    background-color: #1E68A9;
        padding: 10%;
        color: white;
        font-weight: bold;">
            <center>
                <h3>Nuesta Propuesta de valor</h3>
                <p style="text-align: justify;">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nostrum, debitis voluptatibus beatae accusamus quas ipsa dignissimos facere vel aperiam asperiores odit dolore architecto quam, praesentium in officia nobis magni?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et nemo quod, sed ratione suscipit culpa delectus at, vitae ea deserunt fuga tempore inventore eum cumque dicta voluptatibus incidunt fugit nisi.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor deleniti similique cupiditate aliquid animi fugit ex officia iure voluptate odio, nobis numquam. Alias suscipit repellendus, dolores voluptatum esse deleniti eveniet.
                </p>
            </center>
        </div>
    </div>
</div>
{% endblock %}
