{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div >
    <div >
        <div class="row">
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <center>
                            <i class="fa fa-check-circle-o icons-home" aria-hidden="true"></i>
                            <h3>Misión</h3>
                        </center>
                        <p style=" text-align:justify;">
                            Nuestra misión es hacer una diferencia en el Mercado por el alto enfoque en la mejora continua, eficiencia e integridad en los procesos y precios competitivos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <center>
                            <i class="fa fa-eye icons-home" aria-hidden="true"></i>
                            <h3>Visión</h3>
                        </center>
                        <p style=" text-align:justify;">
                            Ser catalizadores del crecimiento de las empresas proveyéndoles acceso al crédito, al facilitarles el uso de sus inventarios como colateral financiero.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <center>
                            <i class="fa fa-bullseye icons-home" aria-hidden="true"></i>
                            <h3>Objetivos</h3>
                            <p style=" text-align:justify;">
                                Siempre mejorar nuestros productos a las últimas tendencias en cuanto al desarrollo brindando seguridad, soporte, confiabilidad e integridad a nuestros clientes.
                            </p>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="    background-color: #1E68A9;
        padding: 10%;
        color: white;
        font-weight: bold;">
            <center>
                <h3>Nuesta Propuesta de Valor</h3>
                <p style="text-align: justify; font-weight: normal;">
                    <span style="font-weight: bold;">¡La mejor herramienta digital para el manejo de inventario en productos de aseo está a solo un click!</span> 
                    CheckIT es una manera eficiente, fácil, rápida y segura para la adquisición y manejo de productos de 
                    aseo en tu propio negocio, somos una herramienta que se adapta continuamente a las necesidades del 
                    consumidor en todos los factores; precio, usabilidad, características, ofreciendo siempre las mejores 
                    novedades a nuestros clientes. Lo cual permite brindar el mejor servicio y calidad en tus pedidos y en 
                    el manejo eficiente de tu inventario.
                </p>
            </center>
        </div>
    </div>
</div>
{% endblock %}
